- user = user_signed_in?
- if user
  = link_to "New Post", new_blog_post_path
.row
  .col-xs-12.col-sm2
    %h2.center Recent Posts
    %ul
      - @posts.each do |p|
        %li
          %a.truncate{href: "##{p.title}"} 
            = p.title
  .col-xs-12.col-sm-10
    - @posts.each do |p|
      %h2 p.title
      %p p.content
      - if user
        %button.btn.btn-default Edit
        %button.btn.btn-danger Delete
