#uploadModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Upload Photos
      .modal-body
        .text-center Upload Options
        %hr
        .clearfix
          = form_tag upload_path, method: 'post', multipart: true do
            .col-xs-4.col-xs-offset-2
              .checkbox
                %label
                  %input#image_shack_check{type: 'checkbox', name: 'imageShack'} Image Shack
              #image_shack_options.hide
                - if @album_hash.any?
                  %hr
                - @album_hash.each do |key, album|
                  .radio
                    %label
                      %input{type: 'radio', name: "album", value: key }
                        = album[:name]
            .col-xs-5.col-xs-offset-1
              .checkbox
                %label
                  %input{type: 'checkbox', name: 'tumblr'} Tumblr
            .clearfix
            %br
            %br
            .col-xs-2.col-xs-offset-4
              = file_field 'upload', 'datafile'
            %br
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              = submit_tag 'Upload', class: 'btn btn-primary'
