.title-cover
.col-xs-12.about-container
  .col-xs-12.col-md-7.about-content
    %h2.text-center.white About Us
    %hr
    .lead.title-lead.text-center.white Clear Innovations is an authorized 3M™ window film dealer.
    %hr
    %p.about-comments We would like to, supply, and install quality 3M window films into your homes and businesses. We have been dealing with window films in the Northwest for a combined 14 years. Our goal is to protect your home or business with 3M window films. Our mission is to have the best customer service of any window film company in the Northwest. Allow us to help you protect your home or business from sunlight, burglary, natural disasters, and even your own reflection.
    %hr
    .lead.title-lead.text-center.white A clearly better way to bring light into your home.
    %hr
    %p.about-comments Now the light that fills your home can be just the way you want it. Clear, neutral, colored, protective—3M™ Window Film products make natural light a beautiful and welcome addition to your home. For more than 40 years, 3M has been a leader in improving light with window films. You can rely on us to help protect your family and furnishings against ultraviolet rays, severe weather and vandalism—all while providing you with comfort from heat and glare. You’ve invested so much time and energy into making your home beautiful and inviting. Now you can be sure it stays that way with 3M and our authorized window film dealers. Trust 3M to enjoy your light, your way.
    %hr
    .lead.title-lead.text-center.white Your shield for better safety, security, and accident prevention.
    %hr
    %p.about-comments The impact of unwelcome elements like severe weather, vandalism, and ultraviolet rays, are all reduced with 3M™ Window Films. In destructive weather, one of the greatest dangers to your family is the threat of flying broken glass. All of our window films help hold the glass in place to aid in the prevention of flying glass and dangerous shards. 3M window films help deter burglars by eliminating their most crucial weapon—time. Burglars who smash glass windows or doors rely on quick and easy access for a successful break-in. A door or window that slows them down is one that will probably make them go away. Our film also helps reduce damage and injury from indoor accidents such as children running into or throwing things at glass doors and windows. These safety and security films also have sun control benefits for improved comfort, glare, and heat control.
    %hr
    .lead.title-lead.text-center.white Protect your investment.
    %hr
    %p.about-comments Fabrics, wallpaper, natural wood floors, photos and other valuables will fade when unfiltered sun shines through your windows. Fading is caused by a combination of ultraviolet rays, visible light and solar heat. 3M™ window films are designed to reduce the effects of solar heat and visible light on your furnishings and will block up to 99 percent of the sun’s harmful ultraviolet rays, which are the single largest cause of fading.
  .col-xs-12.col-md-5
    %h2.text-center.t-shadow.white Contact
    %hr
    .contact-container.white.text-center
      = fa_icon 'phone'
      %span.large-text 503.593.9292
      %br
      = fa_icon 'envelope'
      %span.large-text info@clearinnovations.net
    %hr
    %br
    %br
    %h2.text-center.t-shadow.white Why Clear Innovations?
    %hr
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default
        #headingOne.panel-heading.pointer{:role => "tab", "aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          %h4.panel-title
            %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
              Professionalism
        #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
          .panel-body
            Our goal is to protect your home or business with 3M window films. Our company is honest, punctual, and respectful. We make a concerted effort to offer options at a variety of price points versus always selling the most expensive film. Our mission is to have the best customer service of any window film company in the Northwest. We would like to, supply, and install quality 3M window films into your homes and businesses. 
      .panel.panel-default
        #headingTwo.panel-heading.pointer{:role => "tab", "aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          %h4.panel-title
            %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
              Quality
        #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
          .panel-body
            3M is a well-known, well-respected company that offers a superior product, and our instillation quality is second to none.  All 3M films come with one of the best warranties in the window film industry, including lifetime for most.
      .panel.panel-default
        #headingThree.panel-heading.pointer{:role => "tab", "aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree" }
          %h4.panel-title
            %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
              Experience
        #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
          .panel-body
            Clear Innovations has been dealing with window films in the Northwest for a combined 20 years and have completed hundreds of jobs, both residential and commercial. From large jobs to small and from large windows to French panes and even skylights, we have experience will all kinds of film installs. 
