.pointer {
  cursor: pointer;
}

.white {
  color: white !important;
}

.green {
  color: green !important;
}

.left-3 {
  margin-left: 3%;
}

.fixed {
  position: fixed;
  top: 0;
}

#logo {
  margin-left: -30px;
  margin-top: -6px;
  margin-bottom: -5px;

  img {
    width: 250px;
  }
}

.logo-help {
  margin-top: 0;
  margin-bottom: 0;
}

.scrollable {
  overflow-y: scroll;
}

.large-text {
  font-size: 24px;
}

.xl-text {
  font-size: 36px;
}

.huge-icon {
  font-size: 72px;
}

.bottom-fifty {
  margin-bottom: 50px;
}
